@font-face {
	font-family: 'PlayFair';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Playfair/PlayfairDisplay-Bold.ttf');
}

#wave{
    position: absolute;
    left: 30%;
    top:3%;

    width: 40%;
    height: 4%;
    z-index : 80;
}

#progress{
    position: absolute;
    left: 30%;
    top:10%;
    background-color:white;
    width: 40%;
    height: 1px;
    z-index : 80;
}

#cursor{
    position: absolute;
    left: 30%;
    top:9%;
    background-color:white;
    width: 5px;
    height: 15px;
    z-index : 80;
}

#bgm-name{
    position: absolute;
    left: 40%;
    top:12%;
    
    width: 20%;

    color:white;
    font-size: 12px;
    letter-spacing: 8px;
    text-align: center;

    z-index : 80;
}

#beat-area{
    position: absolute;
    left:33%;
    top:17%;
    display: flex;

    width: 34%;
    

    z-index:80;
}

#scoreBoard{
    position: absolute;
    left:85%;
    top:4%;
    width: 10%;
    z-index:80;

    text-align: center;
    font-size: 14px;
    font-family: 'PlayFair';
    color: white;
}

#point{
    font-size: 24px;
    color:#68c3c0;
}

.beat-bar-4{
  
    background-color:white;
    width: 32%;
    margin-right: 1%;
    height: 2px;
    
}

.beat-bar-3{
  
    background-color:white;
    width: 49%;
    margin-right: 1%;
    height: 2px;
    
}

.beat-bar-2{
  
    background-color:white;
    width: 100%;
    height: 2px;
    
}

.beat-bar-1{

    color:white;
    width: 100%;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'PlayFair';
    font-size: 18px;
}



#thank{
    position: absolute;
    width: 40%;
    left: 30%;

    top:35%;

    color:white;
    font-family: 'PlayFair';
    font-size: 54px;
    text-align: center;

    opacity: 0;

    z-index:80;
}

#thank .tksE{
    font-size: 24px;
    letter-spacing: 2px;
}

#logo{
    position: absolute;
    width: 40%;
    left: 30%;

    top:40%;

    color:white;
    font-family: 'PlayFair';
    font-size: 60px;
    text-align: center;
    letter-spacing: 3px;

    opacity: 0;

    z-index:80;

}

#logo .logo-top{
    font-size: 18px;
    letter-spacing: 3px;
}

#feedback{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:100;

    
    display: none;

}


.feedback-title{

    position: absolute;
    color:white;
    font-size: 36px;
    font-family: 'Playfair';
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    top:18%;
    z-index: 100;
    transition: 2s; 

}


.feedback-desc{

    position: absolute;
    color:#f25346;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
    top:27%;
    line-height: 23px;
    z-index: 100;
    transition: 2s; 

}

.input-area{

    position: absolute;
    width: 26%;
    left: 37%;
    top:35%;
    text-align: center;
  

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    font-size: 16px;
    letter-spacing: 2px;
    line-height: 23px;
    z-index: 100;
    transition: 2s; 
    color:#23190f;


}

.inputLabel{
    height: 10%;
    margin-top:8%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}



input{
    width: 60%;
    height: 24px;
    background:none;

    border:none;
    border-bottom:2px solid rgb(230,230,230);
    text-align: center;
    font-size: 16px;
    padding: 2px 0px;

    color:#23190f;

    transition:0.3s;

}

input:hover{
    cursor: pointer;
    border-bottom:2px solid white;

}

.input-desc{
    height: 28px;
    padding-top: 10px;

}

#submit{

    position: absolute;
    left:45%;
    top:75%;


    border:2px solid white;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 10%;
    height: 8%;
    z-index: 100;

    color:white;
    font-size: 24px;
    opacity: 0.4;

    transition: 1s;

}

#submit:hover{
    cursor: pointer;
    opacity: 1;
}